<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='article.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='lytex.svg') }}" type="image/svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='atom-one-dark.min.css') }}">
    <script src="{{ url_for('static', filename='highlight.min.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            hljs.highlightAll();
        });
    </script>
    <meta http-equiv="onion-location" content="http://sad4k54yg2gevlhel3sdtaw2wbreqlkbfsueihjpoxcas2o73ne5kbad.onion">
    <title>lytex Blog | {{ title }}</title>
</head>

<body>
    <header class="header-main">
        <h1>lytex Blog</h1>
    </header>

    <nav class="navigation-buttons">
        <a href="{{ url_for('index') }}" class="button">Start</a>
        {% if prev_article %}
        <a href="{{ url_for('show_article', subpath=prev_article.filepath) }}" class="button">Letzer Artikel</a>
        {% endif %}
        {% if next_article %}
        <a href="{{ url_for('show_article', subpath=next_article.filepath) }}" class="button">Nächster Artikel</a>
        {% endif %}
    </nav>

    <section class="article-head">
        <b>{{ title }}</b>
        <time>{{ created_at }}</time>
        <span class="article-authors">von {{ authors }}</span>
    </section>

    <section class="article-content">
        {{ content|safe }}
    </section>
</body>

</html>