<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="lytexdev blog - Themen rund um Privacy, Cybersecurity und Datenschutz. Erfahre mehr über VPNs, 2FA, Linux und mehr.">
    <meta name="keywords" content="lytex, lytexdev, lytexmedia, Privacy, Cybersecurity, Datenschutz, VPN, 2FA, Linux Sicherheit, Tracking, Passwort-Manager, Browser-Fingerprinting, Tor, I2P">
    <meta name="author" content="lytexdev">
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='lytex.svg') }}" type="image/svg">

    <meta property="og:title" content="lytexdev Blog">
    <meta property="og:description" content="Themen rund um Privacy, Cybersecurity und Datenschutz. Erfahre mehr über VPNs, 2FA, Linux und mehr.">
    <meta property="og:image" content="{{ url_for('static', filename='lytex.svg', _external=True) }}">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:type" content="article">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="lytexdev Blog - Privacy & Security">
    <meta name="twitter:description" content="Themen rund um Online-Privatsphäre, Cybersecurity und Datenschutz.">
    <meta name="twitter:image" content="{{ url_for('static', filename='lytex.svg', _external=True) }}">

    <link rel="canonical" href="{{ request.url }}">
    <meta http-equiv="onion-location" content="http://sad4k54yg2gevlhel3sdtaw2wbreqlkbfsueihjpoxcas2o73ne5kbad.onion">
    <title>lytexdev Blog</title>

    <style>
        @font-face {
            font-family: 'Ubuntu Sans';
            src: url('{{ url_for("static", filename="fonts/UbuntuSans-VariableFont_wdth,wght.ttf") }}') format('truetype');
        }

        body {
            font-family: 'Ubuntu Sans', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
        <header class="header-main">
            <h1>lytexdev</h1>
            <b>We love privacy ;)</b>
        </header>

        <section class="quote">
            <div class="quote-container">
                <i class="quote-text" translate="no">"Arguing that you don’t care about the right to privacy because you have nothing to hide
                    is like saying you don’t care about free speech because you have nothing to say."</i>
                <p class="quote-author">– Edward Snowden</p>
            </div>
        </section>

        <section class="article-list">
            <h2>Letzte Blogbeiträge</h2>
            <div class="article-cards">
                {% for article in articles %}
                <a class="article-card" href="{{ url_for('show_article', subpath=article.filepath) }}">
                    <div>
                        <h3>{{ article.title }}</h3>
                        <p class="article-date">Veröffentlicht: {{ article.created_at }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>

        <section class="categorized-articles">
            <h2>Artikel nach Kategorie</h2>
            {% for category, articles in categories.items() %}
            <div class="category">
                <h3>{{ category }}</h3>
                <ul>
                    {% for article in articles %}
                    <li>
                        <a href="{{ url_for('show_article', subpath=article.filepath) }}">{{ article.title }}</a>
                        <span class="article-date">({{ article.created_at }})</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </section>
        
        <section class="donations">
            <h2>Spenden</h2>
            <div class="donation-list">
                <div class="donation-item">
                    <h4 style="color:#ff5e00;">Monero (XMR):</h4>
                    <button onclick="copyXMRAdress()" class="copy-button">kopieren</button>
                    <p>8B4Voj8bQtf3Fv2fmKbnwMbLemBcwQu9GTxwtR8o9tgnHk9uPfvvMsQ4P4KHD5AgkQ2W4LvE8kY9MGSX7rvGk9xMMtey82y</p>
                </div>
            </div>
            <br>
            <div class="contact">
                <a href="mailto:immanuel@lytex.dev" target="_blank">Email: immanuel@lytex.dev</a>
                <a href="https://t.me/lytexdev" target="_blank">Telegram: lytexdev</a>
                <a href="#discord:lytexdev">Discord: lytexdev</a>
                <a href="https://github.com/lytexdev/lytex.dev" target="_blank">Quellcode</a>
            </div>
        </section>
    </div>
</body>
<script>
    function copyXMRAdress() {
        navigator.clipboard.writeText('8B4Voj8bQtf3Fv2fmKbnwMbLemBcwQu9GTxwtR8o9tgnHk9uPfvvMsQ4P4KHD5AgkQ2W4LvE8kY9MGSX7rvGk9xMMtey82y')
        
        let copyButton = document.querySelector('.copy-button')
        copyButton.textContent = 'kopiert'
    }
</script>
</html>