<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>lytex Blog</title>
</head>

<body>
    <h1>lytex Blog</h1>

    <ul>
        {% for article in articles %}
        <li>
            <a href="{{ url_for('show_article', subpath=article.filepath) }}">
                <span class="article-title">{{ article.title }}</span> <time>- {{ article.created_at }}</time>
            </a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>